@import '../../styles/base.scss';

* {
    margin: 0;
    font-family: $fontUbuntu;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: $neutral-magnolia;

    @include apply-at-lg-size {
        width: 100%;
        height: 100vh;
        @include directionToX;
        justify-content: center;
        align-items: center;
    }
}

.sidebar {

    .bgSidebar {
        width: 100%;
        min-height: 170px;
        max-height: 170px;
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .bgSidebarWeb {
        display: none;
    }

    .number {

        @include directionToX;
        justify-content: center;
        gap: 15px;
        width: 100%;
        padding: 15px 0;

        .info,
        .plan,
        .addOn,
        .summary {
            z-index: 1;

            .titleStepContainer {
                display: none;

                .step {
                    color: $neutral-light-gray;
                    font-weight: $fontMedium
                }

                .titleStep {
                    color: $neutral-white;
                    font-weight: $fontBold;
                }
            }
        }

        .numberStep {
            color: $neutral-white;
            font-weight: $fontMedium;
            border: 1px solid $neutral-white;
            width: 30px;
            height: 30px;
            @include directionToX;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 16px;
            transition: .3s all;
        }

        .numberStepActive {
            background-color: $primary-light-blue;
            color: $primary-marin-blue;
            border: 1px solid $neutral-white;
            width: 30px;
            height: 30px;
            @include directionToX;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 16px;
            transition: .3s all;
        }

    }
}

.containerForm {
    height: 100%;
    @include directionToY;
    align-items: center;
    padding: 20px;
    // background-color: blue;

    .card {
        background-color: $neutral-white;
        // width: 100%;
        margin: 20px 0;
        z-index: 1;
        border-radius: 10px;
        padding: 10px 20px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    }
}

.navButton {
    z-index: 1;
    background-color: $neutral-white;
    position: absolute;
    bottom: 0;
    width: 100%;

    .buttons {
        margin: 20px;
        @include directionToX;
        justify-content: space-between;

        .back {
            background-color: transparent;
            border: 0;
            color: $neutral-cool-gray;
            font-weight: $fontMedium;
            cursor: pointer;
        }

        .next {
            background-color: $primary-marin-blue;
            color: $neutral-white;
            border: 0;
            padding: 10px 15px;
            border-radius: 5px;
            font-weight: $fontMedium;
            font-size: 14px;
            cursor: pointer;
        }
    }
}

@include apply-at-lg-size {
    .content {
        background-color: $neutral-white;
        // height: max-content;
        @include directionToX;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        width: 75%;
    }

    .sidebar {
        position: relative;

        .bgSidebar {
            display: none;
        }

        .bgSidebarWeb {
            display: flex;
        }

        .number {
            @include directionToY;
            justify-content: center;
            column-gap: 15px;
            row-gap: 30px;
            width: 100%;
            padding: 15px 0;
            position: absolute;
            top: 25px;
            left: 30px;

            .info,
            .plan,
            .addOn,
            .summary {
                @include directionToX;
                gap: 20px;

                .numberStep {
                    color: $neutral-white;
                    font-weight: $fontMedium;
                    border: 1px solid $neutral-white;
                    width: 30px;
                    height: 30px;
                    @include directionToX;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 16px;
                }

                .numberStep:hover {
                    background-color: $primary-light-blue;
                    color: $primary-marin-blue;
                }

                .titleStepContainer {
                    display: block;

                    .step {
                        color: $neutral-light-gray;
                        font-weight: $fontMedium
                    }

                    .titleStep {
                        color: $neutral-white;
                        font-weight: $fontBold;
                    }
                }
            }

        }
    }

    .containerForm {
        height: 100%;
        @include directionToY;
        align-items: center;
        padding: 0;
        margin: 0;
        // background-color: blue;

        .card {
            height: 100%;
            background-color: $neutral-white;
            border-radius: 10px;
            margin: 0;
            box-shadow: none;

        }
    }

    .right {
        width: 100%;
        @include directionToY;
        justify-content: space-between;
    }

    .navButton {
        position: relative;
    }
}