@import '../../styles/base.scss';

* {
    margin: 0;
}

.navbar {
    @include directionToX;
    align-items: center;
    position: sticky;
    top: 0;
    // background-color: $Light-Mode-Bg;
    justify-content: space-between;
    padding: 0 20px;
    height: 99px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

    h1 {
        font-size: 18px;
        font-weight: 700;
    }

    button {
        font-size: 15px;
        font-weight: 600;
        border: 0;
        background-color: transparent;
        @include directionToX;
        align-items: center;
        gap: 11px;
        cursor: pointer;
    }
}