@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$fontUbuntu: 'Ubuntu', sans-serif;

$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;

$fontSize44: 44px;
$fontSize24: 24px;
$fontSize20: 20px;
$fontSize19: 19px;
$fontSize18: 18px;
$fontSize15: 15px;
$fontSize14: 14px;
$fontSize13: 13px;
$fontSize11: 11px;
$fontSize8: 8px;