@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

$fontArchivo: 'Archivo Narrow', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

$fontThin: 100;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;

$fontSize44: 44px;
$fontSize24: 24px;
$fontSize20: 20px;
$fontSize19: 19px;
$fontSize18: 18px;
$fontSize15: 15px;
$fontSize14: 14px;
$fontSize13: 13px;
$fontSize11: 11px;
$fontSize8: 8px;