@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,800&display=swap');

$fontFamily: 'Nunito Sans', sans-serif;
$fontLight: 300;
$fontNormal: 600;
$fontBold: 800;

$fontSize-info-mobile: 16px;
$fontSize-country-mobile: 32px;
$fontSize-bordercountry-mobile: 14px;